---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"email":"invalid"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 60cb2990-1fc1-4810-a812-c291d299505c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249996'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BE678CDCB82E8C9B1657DA4E697B8CB06021E59C0000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"Email
        address invalid is invalid\",\"error\":\"INVALID_EMAIL\",\"name\":\"email\"}]","correlationId":"60cb2990-1fc1-4810-a812-c291d299505c","category":"VALIDATION_ERROR"}'
  recorded_at: Thu, 01 Dec 2022 12:30:51 GMT
recorded_with: VCR 6.1.0
