---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Darth","lastname":"Vader","email":"darth.vader@farbfox.de"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/contacts/34402
      X-Hubspot-Correlation-Id:
      - d84fe94a-e580-4d56-9485-fa94f7d181e8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249931'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B974E074364D22DA90F83AD0CB537BC37A8D30559000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34402","properties":{"createdate":"2022-11-17T19:56:16.592Z","email":"darth.vader@farbfox.de","firstname":"Darth","hs_all_contact_vids":"34402","hs_email_domain":"farbfox.de","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2022-11-17T19:56:16.592Z","hs_object_id":"34402","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2022-11-17T19:56:16.592Z","lastname":"Vader","lifecyclestage":"lead"},"createdAt":"2022-11-17T19:56:16.592Z","updatedAt":"2022-11-17T19:56:16.592Z","archived":false}'
  recorded_at: Thu, 17 Nov 2022 19:56:16 GMT
recorded_with: VCR 6.1.0
