---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Darth","lastname":"Vader","email":"darth.vader@farbfox.de"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/contacts/34451
      X-Hubspot-Correlation-Id:
      - a9415ab2-21ca-49ba-a4c4-eba14882f5aa
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249990'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BE8E248869139F0B0E1A55B8A44CF8B1D7E7A29B9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34451","properties":{"createdate":"2022-11-18T07:14:23.976Z","email":"darth.vader@farbfox.de","firstname":"Darth","hs_all_contact_vids":"34451","hs_email_domain":"farbfox.de","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2022-11-18T07:14:23.976Z","hs_object_id":"34451","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2022-11-18T07:14:23.976Z","lastname":"Vader","lifecyclestage":"lead"},"createdAt":"2022-11-18T07:14:23.976Z","updatedAt":"2022-11-18T07:14:23.976Z","archived":false}'
  recorded_at: Fri, 18 Nov 2022 07:14:24 GMT
recorded_with: VCR 6.1.0
