---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/tester@example.com?idProperty=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3268a109-b9ad-4b3d-8378-08e23cefb143
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249945'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B4E1CFCB26AE165873144B2A3B374AA5C55DD458B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34351","properties":{"createdate":"2022-11-17T13:37:34.061Z","email":"tester@example.com","firstname":"Tester","hs_object_id":"34351","lastmodifieddate":"2022-11-17T14:26:32.937Z","lastname":"Testi"},"createdAt":"2022-11-17T13:37:34.061Z","updatedAt":"2022-11-17T14:26:32.937Z","archived":false}'
  recorded_at: Thu, 17 Nov 2022 14:26:40 GMT
recorded_with: VCR 6.1.0
