---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/34351?properties=firstname,lastname,email,associatedcompanyid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cdf3f6c9-60fd-4bfa-a2eb-519706c70f14
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249992'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BDA8D21B84EC8BF63A0AA37BD888507F53CAA5EC4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34351","properties":{"associatedcompanyid":null,"createdate":"2022-11-17T13:37:34.061Z","email":"tester@example.com","firstname":"Tester","hs_object_id":"34351","lastmodifieddate":"2022-11-18T07:11:30.295Z","lastname":"Testi"},"createdAt":"2022-11-17T13:37:34.061Z","updatedAt":"2022-11-18T07:11:30.295Z","archived":false}'
  recorded_at: Fri, 18 Nov 2022 07:14:23 GMT
recorded_with: VCR 6.1.0
