---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/contacts/34301
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Blubber"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b9cb8374-3f38-4c15-8e81-cb7358422e16
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249989'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B67742E0C8580D14DD4D9E55DA9810116B18BD469000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34301","properties":{"createdate":"2022-11-17T13:37:03.992Z","firstname":"Blubber","hs_lifecyclestage_lead_date":"2022-11-17T13:37:03.992Z","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2022-11-18T07:14:24.435Z","lifecyclestage":"lead"},"createdAt":"2022-11-17T13:37:03.992Z","updatedAt":"2022-11-18T07:14:24.435Z","archived":false}'
  recorded_at: Fri, 18 Nov 2022 07:14:24 GMT
recorded_with: VCR 6.1.0
