---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/contacts/34351
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Blubber"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e549899d-3a35-441e-86ec-13fcbe9b763c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249934'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B4F939D1E43A41F4CB948BD5491A40631057B9596000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34351","properties":{"createdate":"2022-11-17T13:37:34.061Z","firstname":"Blubber","hs_lifecyclestage_lead_date":"2022-11-17T13:37:34.061Z","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2022-11-17T19:51:56.218Z","lifecyclestage":"lead"},"createdAt":"2022-11-17T13:37:34.061Z","updatedAt":"2022-11-17T19:51:56.218Z","archived":false}'
  recorded_at: Thu, 17 Nov 2022 19:51:56 GMT
recorded_with: VCR 6.1.0
