---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"Darth","lastname":"Vader","email":"darth.vader@farbfox.de"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/contacts/34501
      X-Hubspot-Correlation-Id:
      - 394a15d6-63c7-4575-b3ff-fd4f0289d22f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249970'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BDB29A672A774B350B372E50E4F4E650F0AA38239000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34501","properties":{"createdate":"2022-11-18T13:32:23.382Z","email":"darth.vader@farbfox.de","firstname":"Darth","hs_all_contact_vids":"34501","hs_email_domain":"farbfox.de","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2022-11-18T13:32:23.382Z","hs_object_id":"34501","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2022-11-18T13:32:23.382Z","lastname":"Vader","lifecyclestage":"lead"},"createdAt":"2022-11-18T13:32:23.382Z","updatedAt":"2022-11-18T13:32:23.382Z","archived":false}'
  recorded_at: Fri, 18 Nov 2022 13:32:23 GMT
recorded_with: VCR 6.1.0
