---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/communication-preferences/v3/definitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d0c9066b-3577-4474-a47c-76d87cdd6bdd
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249967'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"subscriptionDefinitions":[{"id":"141824865","name":"Marketing Information","description":"Marketing
        offers and updates.","purpose":"Marketing","communicationMethod":"Email","isActive":true,"isDefault":true,"isInternal":false,"createdAt":"2022-06-03T12:09:14.438Z","updatedAt":"2022-06-03T12:09:14.438Z"}]}'
  recorded_at: Tue, 29 Nov 2022 13:35:21 GMT
recorded_with: VCR 6.1.0
