---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/communication-preferences/v3/subscribe
    body:
      encoding: UTF-8
      string: '{"emailAddress":"darth.vader@farbfox.de","subscriptionId":"141824865","legalBasis":"CONSENT_WITH_NOTICE","legalBasisExplanation":"this
        is an explanation"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a67a347e-e9e1-4b25-aee1-87ff78402146
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249964'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"141824865","name":"Marketing Information","description":"Marketing
        offers and updates.","status":"SUBSCRIBED","sourceOfStatus":"SUBSCRIPTION_STATUS","brandId":null,"preferenceGroupName":null,"legalBasis":"CONSENT_WITH_NOTICE","legalBasisExplanation":"this
        is an explanation"}'
  recorded_at: Tue, 29 Nov 2022 13:54:45 GMT
recorded_with: VCR 6.1.0
